@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;400;600;800&family=PT+Sans+Narrow:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62,5%;

  --colorPrincipal : #007184;
  --colorPrincipalClara: #51C9E3;
  --colorPrincipalEscura: #144F70;
  --colorGrayLigth: #a9aaac;
  --colurNeutral: #757679;
  --colurSemiNeutral: #626366;
  --colorSecundary: #E8990E;
  --colorSecundaryClara: #EFBA60;
  --colorWithe: #ffffff;
}

.flex {
  display: flex;
}

.columnsSemiCenter, .columnsCenter {
  display: flex;
  flex-direction: column;

  justify-content: center;
}


.columnsCenter { 
  align-items: center;
}


.app {
  font-family: 'Montserrat';
  font-weight: 100;
  color: var(--colurSemiNeutral);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.myHeader{
  background: linear-gradient(360deg, var(--colorPrincipal) -0.75%, rgba(0, 113, 132, 0.900482) 64.48%, rgba(0, 113, 132, 0.89) 71.35%);
  color: var(--colorWithe);
  width: 100vw;

  display: flex;
  justify-content: space-around;
  gap: 4rem;

  padding: 1.8rem 0 3rem 0;
  
}

.myHeader h1{
  font-size: 1.4rem;
  font-weight: 200;
}

.myHeader h1 span{
  font-weight: 600;
}

.myHeader h3{
  font-size: .9rem;
  font-weight: 300;
}

.myHeader img {
  height: 3.4rem;
  border-radius: 2rem;
  margin-top: -.5rem;
}





.resume {
  height: 4rem;
  width: 18rem;
  
  margin-top: -1.75rem;

  background-color: var(--colurNeutral);
  color: var(--colorWithe);
  border-radius: .3rem;

  padding: 0rem 1rem 0rem 1rem;

  display: flex;
  align-items: center;
  
}

.resumeCredt {
  background-color: var(--colorPrincipalEscura);
  color: var(--colorWithe);  
}

.resumeDebt {
  background-color: var(--colorSecundary);
  color: var(--colorWithe);  
}

.resume img{
  margin: 0 .5rem 0 .2rem;
}


.resume h2 {
  display: flex;
  align-items: center;

  font-size: 1rem;
  font-weight: 300;
  
  height: 1.8rem;
  border-left: 1px solid var(--colorWithe);
  padding-left: .5rem;
}

.resume h2 span {
  font-weight: 500;
  margin-left: .3rem;
}

.valueEmpty{
  font-size: .8rem;
  font-weight: 400;
}




.myHome {
  background-color: var(--colorWithe);

  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;

  color: var(--colurNeutral);
}



.billEmpty{
  height: 60vh;

  display: flex;
  align-items: center;

  font-weight: 400;
  
}


button {
  cursor: pointer;
}


.expandButton {
  border: none;
  background-color: var(--colorWithe);

  position: absolute;
  right: 1.5rem;
  top: 10.5rem;
}


.buttonAdd {
  border: none;
  background-color: var(--colorPrincipal);
  
  position: absolute;
  right: 1rem;
  bottom: 5rem;

  padding: 1.3em;
  border-radius: 2rem;
}

.buttonAdd img{
  height: 1.1rem;
}


.navBar{
  display: flex;
  justify-content: center;
  background-color: var(--colorWithe);
  box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.2);

  width: 100vw;

  position: absolute;
  bottom: 0;
  right: 0;
}

.navBar div{
  padding: .8rem 2rem .8rem 2rem;
  border-left: 1px solid var(--colorWithe);  
}

.navBar div:nth-child(1){
  border: none;
}


.avatar {
  height: 2.6rem;
  width: 2.6rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
}



.containerBillList{
  margin-top: 2.5rem;
  width: 86vw;
}

li {
  list-style: none;  
  margin-bottom: 1.5rem;
}

.containerBill{
  display: flex;
}

.billContact{
  display: flex;
  width: 70%;
  align-items: center;
}

.billContact h3{
  margin-left: .6rem;
}

.billResume {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 30%;
}

.billResume h4{
  color: var(--colurNeutral);
  font-weight: 400;
  font-size: .9rem;
}

.billResume h3{
  font-size: 1.2rem;
  font-weight: 400;
}

.credito{
  color: var(--colorPrincipal);
}
.despesa{
  color: var(--colorSecundary);
}

.billResume h3 span {
  font-weight: 700;
}


.itemBillDescription{
  margin: 0;
}

.containerBillDescription{
  display: flex;
}




.billDescription{
  font-size: .85rem;
  font-weight: 500;
  margin: .2rem 0 0 .2rem;
}

.billDescription span {
  margin-left: .2rem;
  font-weight: 700;
}


.markLine {
  height: 1rem;
  width: 1rem;

  margin: -.2rem 0 0 3.3rem;
  border-left: 1px dashed;
  border-bottom: 1px dashed;
}


.Credt{
  border-color: var(--colorPrincipalClara);
  color: var(--colorPrincipalClara);
}
.Debt{
  border-color: var(--colorSecundaryClara);
  color: var(--colorSecundaryClara);
}


#nomeConta::placeholder{
  color: var(--colorPrincipal);
}



.allBills{}


.billSelector{
  margin: 2rem 0 3rem 0;

  height: 2rem;
  width: 13rem;}

.billSelector select{
  appearance: none;
  
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.2rem;
  
  height: 3.5rem;
  width: 15rem;

  padding-left: .8rem;

  overflow: hidden;

  border-radius: .6rem;

  color: var(--colorWithe);
  /* background-color: #007184; */
  background: url('./assets/img/setaSelector.svg') no-repeat var(--colorPrincipal);
  background-position: right 10px top 50%;
  background-size: .8rem;
}


.billSelector select:hover{
  border-radius: .6rem .6rem 0 0;
}


.billSelector select option{
  font-size: 1rem;

  color: var(--colurNeutral);
  background-color: var(--colorWithe);
}


.billUnid{
  margin-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--colorGrayLigth);
}

.billDate{
  width: 10vw;
}

.billDate h4{
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: -.1rem;
}

.billDate h3{
  margin-top: -.1rem;
  font-size: 1.4rem;
}

.billImg img{
  height: 3rem;
  border-radius: 2rem;
  margin-left: .1rem;
}

.billDesc{
  margin-left: 1rem;
  width: 40vw;
}

.billName{
  font-size: 1.2rem;
}

.billDescValue{
  font-size: .8rem;
  font-weight: 500;
  color: var(--colurNeutral);
}

.billDesc p {
  font-size: .8rem;
  font-weight: 400;

  color: var(--colorPrincipalClara);
}

.billDesc :nth-child(3) {
  font-weight: 600;
}

















.espace{
  height: 600px;
  /* background-color: #007184; */
}